# data
participant data
participant data updated Nov 22
spot_train_test
spot-latest-small-exp

# instructions
Decision Support Systems - group assignment.pdf

# Virtual environments
venv

# API info
Spotify.postman_collection.json
credentials.py
.env
geckodriver.log

# cache
__pycache__

# SSL keys for the server (for the implicit grant flow)
private.pem
public.pem